// studio - views - assets
// ====================

body.course.uploads {

  .content-primary, .content-supplementary {
    @include box-sizing(border-box);
    float: left;
  }

  .content-primary {
    width: flex-grid(9, 12);
    margin-right: flex-gutter();

    .no-assets-content {
      @extend .ui-well;
      padding: ($baseline*2);
      background-color: $gray-l4;
      text-align: center;
      color: $gray;

      .new-button {
        @extend .t-copy-sub1;
        margin-left: $baseline;

        [class^="icon-"] {
          margin-right: ($baseline/2);
        }
      }
    }


  }

  .content-supplementary {
    width: flex-grid(3, 12);
  }

  .nav-actions {

    .icon-cloud-upload {
      @include font-size(16);
      vertical-align: bottom;
      margin-right: ($baseline/5);
    }

  }

  .asset-library {
    @include clearfix;

    table {
      width: 100%;
      border-top: 5px solid $gray-l4;

      thead tr {
      }

      th {
        @extend .t-copy-sub2;
        background-color: $gray-l5;
        color: $gray;
        padding: ($baseline*.75) $baseline;
        text-align: left;
        vertical-align: middle;
      }

      td {
        padding: ($baseline/2) $baseline;
        text-align: left;
        vertical-align: middle;
      }

      tbody {
        box-shadow: 0 2px 5px $shadow;
        border: 1px solid $gray-l4;
        background: $white;

        tr {
          @include transition(all $tmg-f2 ease-in-out 0s);
          border-top: 1px solid $gray-l4;

          &:first-child {
            border-top: none;
          }

          &:nth-child(odd) {
            background-color: $gray-l6;
          }

          a {
            color: $gray-d1;

            &.remove-asset-button {
              color: $gray-l2;
            }

            &:hover {
              color: $blue;

              &.remove-asset-button {
                color: $blue;
              }

            }
          }

          .thumb-col {
            width: 20%;
            overflow: hidden;

            .thumb {
              width: $baseline*5;

              img {
                width: 100%;
              }
            }
          }

          .name-col {
            @extend .t-copy-sub1;
            width: 20%;
          }

          .date-col {
            @include transition(all $tmg-f2 ease-in-out 0s);
            @extend .t-copy-sub2;
            opacity: .5;
            width: 20%;
          }

          .embed-col {
            @include transition(all $tmg-f2 ease-in-out 0s);
            opacity: .5;
            width: 30%;

            .embeddable-xml-input {
              @extend .t-copy-sub2;
              box-shadow: none;
              border: none;
              background: none;
              width: 100%;

              &:focus {
                background-color: $white;
              }
            }
          }

          .actions-col {
            text-align: center;
            width: $baseline;
          }

          &:hover {
            background-color: $blue-l5;

            .date-col,
            .embed-col {
              opacity: 1;
            }
          }
        }
      }
    }


    .pagination {
      float: right;
      margin: ($baseline*.75) ($baseline/2);

      ol, li {
        display: inline;
      }

      a {
        display: inline-block;
        height: ($baseline*1.5);
        padding: 0 ($baseline/5);
        text-align: center;
        line-height: ($baseline*1.5);
      }
    }
  }
    .show-xml {
    @include blue-button;
  }
}

.upload-modal {
  display: none;
  width: 640px !important;
  margin-left: -320px !important;

  .modal-body {
    height: auto !important;
    overflow-y: auto !important;
    text-align: center;
  }

  .title {
    @extend .t-title3;
    float: none;
    margin: ($baseline*2) 0 ($baseline*1.5);
    font-weight: 300;
  }

  .file-input {
    display: none;
  }

  .choose-file-button {
    @include blue-button;
    padding: 10px 82px 12px;
    font-size: 17px;
  }

  .progress-bar {
    display: none;
    width: 350px;
    height: 50px;
    margin: 30px auto 10px;
    border: 1px solid $blue;

    &.loaded {
      border-color: #66b93d;

      .progress-fill {
        background: #66b93d;
      }
    }
  }

  .progress-fill {
    width: 0%;
    height: 50px;
    background: $blue;
    color: #fff;
    line-height: 48px;
  }

  .close-button {
    @include transition(color $tmg-f2 ease-in-out 0s);
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0 !important;
    border-radius: 17px !important;
    line-height: 29px;
    text-align: center;
    border: none;
    background: none;

    [class^="icon-"] {
      @include font-size(18);
    }

    &:hover {
      background: none;
      color: $blue;
    }
  }

  .embeddable {
    display: none;
    margin: 30px 0 130px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
    }
  }

  .embeddable-xml-input {
    box-shadow: none;
    width: 400px;
  }

  .copy-button {
    @include white-button;
    display: none;
    margin-bottom: 100px;
  }
}
